.*
*~

*.mod
*.o
*.slrm
*.log
*.conf
*.btr
*.out
*.qp
*.dat
*.png
*.hdf5
*.hk

#ctags
tags

# configfiles
config*
# except config_template which is maintained by hand
!config_template
!config_umatrix_template
!config_template_new

# dont't forget about the module
!config_module.f90

# all possible output folder and everything inside
Output*/**
output*/**
# all possible input folder and everything inside
Input*/**
input*/**

# binaries
main
vertex_chann_sym
umatrix
